:root {
  --chord-title-color: #c690e6;
  --active-key-color: #c690e6;
  /* סגול לקליד לבן לחוץ */
  --active-black-key-color: #c690e6;
  /* צהוב זוהר לקליד שחור לחוץ - הכי בולט */
  --inactive-key-color: #ffffff;
  --inactive-black-key-color: #333333;
  --border-color: #ddd;
  --text-color: #666;
  --key-text-white: #ffffff;
  --key-text-black: #000000;
}

.piano-card {
  display: inline-block;
  padding: 15px;
  /* border: 1px solid var(--border-color); */
  border-radius: 5px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: system-ui, -apple-system, sans-serif;
  margin: 10px;
}

.white-key {
  /* שינוי לצבע אפור ברור יותר */
  stroke: #d1d8dc;
  stroke-width: 0.5;
  /* הגדלת העובי כדי שיהיה קריא */
  transition: fill 0.3s ease;
}

.black-key {
  /* קלידים שחורים צריכים גבול שחור או כהה מאוד */
  stroke: #1a1a1a;
  stroke-width: 0.5;
  transition: fill 0.3s ease;
}

.chord-svg {
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.05));
}

.chord-title {
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 1.1rem;
  color: #2c3e50;
}

.key-label {
  pointer-events: none;
  font-weight: bold;
  font-size: 3px;
}

.notes-display {
  margin-top: 5px;
  font-weight: 500;
  color: var(--text-color);
  font-size: 14px;
  letter-spacing: 0.5px;
}

@media(max-width:600px) {
  .piano-card {
    padding: 4px;
    margin: 5px;
  }

}